body {
	background: whitesmoke;
	font-family: "Poppins", sans-serif;
}

.container {
	background: white;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	display: block;
	margin: 48px auto;
	margin-bottom: 24px;
	min-height: 388px;
	padding: 24px 32px;
	width: 360px;
}

header {
	border-bottom: 1px solid lightgray;
	padding-bottom: 16px;
}

h1 {
	font-size: 24px;
	font-weight: 200;
	text-align: center;
}

button {
	background-color: purple;
	border: 2px solid purple;
	border-radius: 32px;
	color: white;
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin: 24px auto;
	padding: 16px;
	transition: all 200ms ease-in-out;
}

button:hover {
	background-color: white;
	color: purple;
	cursor: pointer;
}

main {
	padding: 24px 0;
}

h2 {
	font-size: 24px;
	font-family: 600;
	text-align: center;
}

footer {
	display: block;
	font-size: 14px;
	font-weight: 200;
	margin: 0 auto;
	max-width: 360px;
	text-align: center;
}

footer a {
	font-weight: 600;
	line-height: 1;
}
